.nav_wrapper{
  background-color: white;
  position: sticky;
  width: 20%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
  padding: 20px;
  border-radius: 10px;
  justify-content: space-between;
  @media (max-width: 1150px) {
    flex-direction: row;
    position: fixed;
    bottom: -4px;
    height: 50px;
    width: 100%;
    margin-right: 0px;
    justify-content: center;
  }
  nav{
    display: flex;
    flex-direction: column;
    @media (max-width: 1150px) {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
      a{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 170px;
        text-decoration: none;
        margin: 10px 0px;
        color: black;
        transition: 0.2s;
        border: 1px solid;
        border-radius: 10px;
        border-color: #f3f3f3;
        padding: 10px;
        text-align: center;
        @media (max-width: 1150px) {
          width: 100px;
          margin: 0px 10px;
        }
        @media (max-width: 870px) {
          width: 80px;
          font-size: 12px;
          margin: 0px 10px;
          padding: 5px;
        }
        @media (max-width: 630px) {
          font-size: 0;
          align-items: center;
          justify-content: center;
          margin: 20px;
          width: 30px;
        }
        @media (max-width: 400px) {
          margin: 10px;
        }
        &:hover{
          background-color: rgb(237, 244, 252);
          border-color: rgb(237, 244, 252);
          transition: 0.2s;
          transform: scale(1.05);
        }
      }
    
  }
  button {
    background-color: #FFFFFF;
    border: 1px solid rgb(209,213,219);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-weight: 600;
    padding: 10px;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: 0.2s;
    background-color: rgb(243, 155, 128);
    @media (max-width: 870px) {
      width: 60px;
      font-size: 12px;
      padding: 5px;
    }
  }
  button:hover {
    transition: 0.2s;
    background-color: rgb(236, 63, 63);
  }
  button:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  button:focus-visible {
    box-shadow: none;
  }
}