.profile_wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  width: 100%;
  @media (max-width: 1150px){
    padding: 0px;
  }
  .photos_block{
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    justify-content: center;
    background-color: rgb(253, 253, 253);
    display: flex;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.5);
    width: 80%;
    img{
      margin: 10px;
    }
    @media (max-width: 600px) {
      width: 70%;
    }
    @media (max-width: 400px) {
      width: 90%;
      border-radius: 0px;
      box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0);
    }
  }
  .profile_block{
    border-bottom: 1px solid;
    margin-bottom: 20px;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    @media (max-width: 650px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .buttons{
      display: flex;
      flex-direction: column;
      @media (max-width: 650px) {
        flex-direction: row;
      }
      button {
        margin: 10px;
        background-color: #FFFFFF;
        border: 1px solid rgb(209,213,219);
        border-radius: .5rem;
        box-sizing: border-box;
        color: #111827;
        font-weight: 600;
        padding: 10px;
        text-align: center;
        text-decoration: none #D1D5DB solid;
        text-decoration-thickness: auto;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        @media (max-width: 650px) {
          font-size: 12px;
        }
      }
      button:hover {
        background-color: rgb(249,250,251);
      }
      button:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
      }
      button:focus-visible {
        box-shadow: none;
      }
    }
    .aboutme_block{
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      @media (max-width: 650px) {
        margin-left: 0px;
      }
      .aboutme_wrap{
        padding: 5px;
        border-bottom: 1px solid;
        text-align: center;
        margin-bottom: 10px;
        span{
          font-size: 20px;
          @media (max-width: 650px) {
            font-size: 16px;
          }
        }
      }
    }
    .ava_wrapper{
      img{
        width: 200px;
        height: 200px;
        border-radius: 10px;
      }
    }
    .profile_info_block{
      display: flex;
      flex-direction: column;
      margin-left: 50px;
      @media (max-width: 650px) {
        margin-left: 0px;
      }
      .namewrap{
        padding: 5px;
        border-bottom: 1px solid;
        text-align: center;
        margin-bottom: 10px;
        span{
          font-size: 20px;
        }
      }
      span{
        margin: 2px;
        font-size: 18px;
      }
    }
  }
}