
body{
  background-color: #d4e3f5;
}
.app_wrapper{
  display: flex;
  margin-top: 20px;
  justify-content: center;
  .main {
    width: 70%;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: 0.2s;
    @media (max-width: 1150px) {
      width: 100%;
      flex-direction: column;
    }
  }
}


